@model YonetimPaneli.Models.Kategori

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Kategori</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KategoriAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KategoriAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResimUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResimUrl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Guncelle", "Edit", new { id = Model.KategoriId }, new {@class="btn btn-primary"})
    @Html.ActionLink("Geri Don", "Index",null,new {@class="btn btn-secondary"})
</p>
